---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">Gemini</span>
    <span class="gpt-subtitle">谷歌双子座</span>
  </div>
  <p mt-1 op-60></p>
</header>
